
html{
	padding: 0 0 850px 0;
}
body{
	color: ;
	background: #123A7F;
	background: -webkit-linear-gradient(-45deg, #3868BD, #123A7F);
	background: linear-gradient(-45deg, #3868BD, #123A7F);
	margin: 0;
	padding: 0;
	
}

.right{
	float:right;
}

.left{
	float:left;
}

.caption{
	font-family: "Arial", serif;
	padding-left: 25px;
	color: #ffffff;
}


.nav{
	background-color: #ffffff;
	color: #000000;
	list-style: none; 
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	
	/*padding: 20px 0 20px 0; /*top left bot right*/
}

.nav > li{
	display: inline-block;
	text-decoration: none;
	/*padding: 0 40px 0 40px;*/
	transition: all .5s ease-in-out;
}

.nav > li > a{
	text-decoration: none;
	display: inline-block;
	padding: 20px 60px 20px 60px;
	
}

.nav > li:hover{
	background-color: #C0C0C0;
	/*padding: 0 40px 0 40px;*/
	
}

.nav > li:hover > ul{
	background-color:#ffffff;
	visibility: visible;
	opacity: 1;
	padding: 0;
	margin: 0 -15px 0 0;
	transition: all 1s ease-in-out;
	
}
.nav > li > ul >li:hover{
	background-color:#C0C0C0;
}

.drop{
	border-left: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	/* margin:0; */
	padding-left:0;
	text-align:left;
	list-style:none;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	
	
}
.drop > li {
	padding: 0 20px 0 20px;
	border: 1px solid #000000;
	

}
.drop > li > a{
	
	text-decoration: none;
	color:#000000;
	
	
}
.TextBox{
	padding: 50px 100px 0px 100px; 
	width: 1000px;
	text-align: center;
	margin: 0 auto; 
}
.TextBox2{
	padding: 75px 100px 0px 100px; 
	width: 1000px;
	text-align: left;
	margin:  0 auto;
}
.TextBox > text{
	font-size: 25px;
	color: white;
}
.TextBox2 > text{
	font-size: 25px;
	color: white;
	text-align: justify;
}

.TextBox > text > bold{
	font-size: 40px;
	color: white;
}
.TextBox > text > smaller{
	font-size: 20px;
	color: white;
	
}
.TextBox > text > boldUnderlined{
	font-size: 20px;
	color: white;
	font-weight: boldUnderlined;
}
.TextBox > text > disclamer{
	font-size: 12px;
	color: white;
	position: fixed;
	left: 0;
	bottom:0;
	text-align: center;
}

.imageRight{
	float: right;
	clear: both;
	margin-top: 0px;
}
.imageLeft{
	float: left;
	clear: both;
}

.project1{
	width: 298px;
	height: 500px;
	border: 1px solid #696969;
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
	
}
.project1 > p{
	font-size: 14px;
	color: #ffffff;
	max-width: 250px;
}

.projects{
	width: 1333px;
	margin: 0 auto;
}
.project1 > h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding: 10px 0;
	margin: 0 -6px;
}

.work{
	width: 700px;
	height: 800px;
	border: 1px solid #696969;
	margin: 50px 20px;
	padding: 0 5px;
	float: Center;
	
}
.work > p{
	font-size: 16px;
	color: #ffffff;
	width: 690px;
	float: left;
	padding: 0px 10px;
}

.work > h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding: 10px 10px;
	margin: 0 -6px;
}
.work > a {
	float: left;
}
.work >ul{
	padding: 0px 0px 0px 200px;
	width: 600px;
	height: auto;
}
.work > ul > li{
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	width: 450px;
	float: center;
	padding: 3px 0px;
}

.workImage{
	border-radius: 15px; /*this makes curved edges*/
	max-width: 250px;
	margin: 20px 15px 15px 15px;
	float: left;
}

.workHeader{
	font-size: 14px;
	width: 250px;
	height: 150px;
	float: left;
}

.workHeader > p{
	font-size: 14px;
	color: #ffffff;
	max-width: 570px;
	float: left;
}

.workHeader2{
	font-size: 14px;
	width: 445px;
	height: 150px;
	float: left;
}

.workHeader2 > p{
	font-size: 14px;
	color: #ffffff;
	max-width: 570px;
	float: left;
}

.autonetics{
	width: 700px;
	height: 650px;
	border: 1px solid #696969;
	margin: 50px 20px;
	padding: 0 5px;
	float: Center;
	
}
.autonetics > p{
	font-size: 16px;
	color: #ffffff;
	width: 690px;
	float: left;
	align: left;
	padding: 0px 10px;
}

.autonetics > h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding: 10px 10px;
	margin: 0 -6px;
}
.autonetics > a {
	float: left;
}
.autonetics >ul{
	padding: 0px 0px 0px 200px;
}
.autonetics > ul > li{
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	width: 450px;
	float: center;
	padding: 3px 0px;
}

.TE{
	width: 700px;
	height: 550px;
	border: 1px solid #696969;
	margin: 50px 20px;
	padding: 0 5px;
	float: Center;
	
}
.TE > p{
	font-size: 16px;
	color: #ffffff;
	width: 690px;
	float: left;
	align: left;
	padding: 0px 10px;
}

.TE > h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding: 10px 10px;
	margin: 0 -6px;
}
.TE > a {
	float: left;
}
.TE >ul{
	padding: 0px 0px 0px 200px;
}
.TE > ul > li{
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	width: 450px;
	float: center;
	padding: 3px 0px;
}

.qorvo{
	width: 700px;
	height: 500px;
	border: 1px solid #696969;
	margin: 50px 20px;
	padding: 0 5px;
	float: Center;
	
}
.qorvo > p{
	font-size: 16px;
	color: #ffffff;
	width: 690px;
	float: left;
	align: left;
	padding: 0px 10px;
}

.qorvo > h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding: 10px 10px;
	margin: 0 -6px;
}
.qorvo > a {
	float: left;
}
.qorvo >ul{
	padding: 0px 0px 0px 200px;
}
.qorvo > ul > li{
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	width: 450px;
	float: center;
	padding: 3px 0px;
}

.UNCC{
	width: 700px;
	height: 500px;
	border: 1px solid #696969;
	margin: 50px 20px;
	padding: 0 5px;
	float: Center;
	
}
.UNCC > p{
	font-size: 16px;
	color: #ffffff;
	width: 690px;
	float: left;
	align: left;
	padding: 0px 10px;
}

.UNCC > h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	padding: 10px 10px;
	margin: 0 -6px;
}
.UNCC > a {
	float: left;
}
.UNCC >ul{
	padding: 0px 0px 0px 200px;
}
.UNCC > ul > li{
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	width: 450px;
	float: center;
	padding: 3px 0px;
}

.image{
	border-radius: 15px; /*this makes curved edges*/
	max-width: 250px;
	margin: 15px 0 0 0;
}
.rotate90{
  -webkit-transform:rotate(90deg);  
  -moz-transform: rotate(90deg);  
  -ms-transform: rotate(90deg);  
  -o-transform: rotate(90deg);  
  transform: rotate(90deg);  
}
.image:hover{
	opacity: 0.4;
	max-width: 250px;
	margin-top: 15px;
}
.heading{
	text-align: center;
	font-size:55px;
	color: #ffffff;
	margin: 50px 0 25px 0;
}
.resume{
	color: #ff0000;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding-top: 200px;
	
}
.boldAndCenter{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding-top: 0px;
}
.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 943px;
}

.scroll-container img {
  padding: 10px;
}