
html{
	padding: 0 0 850px 0;
}
body{
	color: ;
	background: #123A7F;
	background: -webkit-linear-gradient(-45deg, #3868BD, #123A7F);
	background: linear-gradient(-45deg, #3868BD, #123A7F);
	margin: 0;
	padding: 0;
	
}


.caption{
	font-family: "Arial", serif;
	padding-left: 25px;
	color: #ffffff;
}


.nav{
	background-color: #ffffff;
	color: #000000;
	list-style: none; 
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	
	/*padding: 20px 0 20px 0; /*top left bot right*/
}

.nav > li{
	display: inline-block;
	text-decoration: none;
	/*padding: 0 40px 0 40px;*/
	transition: all .5s ease-in-out;
}

.nav > li > a{
	text-decoration: none;
	display: inline-block;
	padding: 20px 60px 20px 60px;
	
}

.nav > li:hover{
	background-color: #C0C0C0;
	/*padding: 0 40px 0 40px;*/
	
}

.nav > li:hover > ul{
	background-color:#ffffff;
	visibility: visible;
	opacity: 1;
	padding: 0;
	margin: 0 -15px 0 0;
	transition: all 1s ease-in-out;
	
}
.nav > li > ul >li:hover{
	background-color:#C0C0C0;
}

.drop{
	border-left: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	/* margin:0; */
	padding-left:0;
	text-align:left;
	list-style:none;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	
	
}
.drop > li {
	padding: 0 20px 0 20px;
	border: 1px solid #000000;
	

}
.drop > li > a{
	
	text-decoration: none;
	color:#000000;
	
	
}
.TextBox{
	padding: 100px 100px 100px 100px; 
	width: 1000px;
	margin: 0 auto; <!-- Write your comments here -->
}

.TextBox > text{
	font-size: 20px;
	color: white;
	
}
.TextBox > text > bold{
	font-size: 25px;
	color: white;
	
}
.TextBox > text > disclamer{
	font-size: 12px;
	color: white;
	position: fixed;
	left: 0;
	bottom:0;
	text-align: center;
}

.imageRight{
	float: right;
	clear: both;
}
.imageLeft{
	float: left;
	clear: both;
}

.project1{
	width: 298px;
	height: 500px;
	border: 1px solid #c1c1c1;
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
	
}
.project1 > p{
	font-size: 14px;
	color: #ffffff;
	max-width: 250px;
}

.projects{
	width: 1333px;
	margin: 0 auto;
}
.project1 > h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #C1C1C1;
	color: #000000;
	padding: 10px 0;
	margin: 0 -6px;
}
.image{
	border-radius: 15px; /*this makes curved edges*/
	max-width: 250px;
	margin: 15px 0 0 0;
}
.image:hover{
	opacity: 0.4;
	max-width: 250px;
	margin-top: 15px;
}
.heading{
	text-align: center;
	font-size:25px;
	color: #ffffff;
	margin: 50px 0 25px 0;
}
.resume{
	color: #ff0000;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding-top: 200px;
	
}
.boldAndCenter{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding-top: 0px;
}

